.container{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.container p{
    margin: 0;
}

.iconsContainer{
    display: flex;
    width: 20%;
    justify-content: space-between;
}

.greenIcon{
    font-size: 1.5rem;
    cursor: pointer;
    color: green;
}

.redIcon{
    font-size: 1.5rem;
    cursor: pointer;
    color: red;
}